<!DOCTYPE html>
<html lang="en">
<head>        
   
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Book Your Home Cleaning Service In Nigeria - Online Cleaning Service Booking">
	<meta name="description" content="Book Your Home Cleaning Service In Nigeria - Online Cleaning Service Booking">
	<meta name="author" content="Adeyinka Adeniran">
	
	<title>Book Your Travel - Home</title>
	
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Slab:400,700&subset=latin,latin-ext,greek-ext,greek,cyrillic,vietnamese,cyrillic-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="shortcut icon" href="images/favicon.ico" />
	
	
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--- loading animation -->
	<div class="loading">
		<div class="ball"></div>
		<div class="ball1"></div>
	</div>
	<!--- //loading animation -->
	
	<!--header-->
	<header class="header">
		<div class="wrap">
			<!--logo-->
			<div class="logo"><a href="index.html" title="Book Your Travel"><img src="images/txt/logo.png" alt="Book Your Travel" /></a></div>
			<!--//logo-->
			
			<!--ribbon-->
			<div class="ribbon">
				<nav>
					<ul class="profile-nav">
						<li class="active"><a href="#" title="My Account">My Account</a></li>
						<li><a href="login.html" title="Login">Login</a></li>
						<li><a href="my_account.html" title="Settings">Settings</a></li>
					</ul>
				</nav>
			</div>
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="search-form">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->
			
			<!--contact-->
			<div class="contact">
				<span>24/7 Support number</span>
				<span class="number">1- 555 - 555 - 555</span>
			</div>
			<!--//contact-->
		</div>
		
		<!--main navigation-->
		<nav class="main-nav">
			<div class="wrap">
				<ul class="slimmenu" id="nav">
					<li><a href="hotels.html" title="Hotels">Hotels</a>
						<ul>
							<li><a href="#">Secondary navigation</a></li>
							<li><a href="#">Example links</a>
								<ul>
									<li><a href="#">Third level navigation</a></li>
									<li><a href="#">Example links</a>
										<ul>
											<li><a href="#">Fourth level navigation</a></li>
											<li><a href="#">Example links</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="flights.html" title="Flights">Flights</a></li>
					<li><a href="flight_and_hotels.html" title="Flight + Hotel">Flight + Hotel</a></li>
					<li><a href="self_caterings.html" title="Self catering">Self catering</a></li>
					<li><a href="cruises.html" title="Cruises">Cruises</a></li>
					<li><a href="car_rentals.html" title="Car rental">Car rental</a></li>
					<li><a href="locations.html" title="Locations">Locations</a>
						<ul>
							<li><a href="location.html" title="Single Location">Single Location</a>
						</ul>
					</li>
					<li><a href="hot_deals.html" title="Hot deals">Hot deals</a></li>
					<li class="has-mega"><a href="#" title="Pages">Pages</a>
						<ul class="mega">
							<li>
								<div class="row">
									<div class="one-fifth">
										<p>COMMON PAGES</p>
										<ul>
											<li><a href="page_left_sidebar.html" title="Page with left sidebar">Page with left sidebar</a></li>
											<li><a href="page_right_sidebar.html" title="Page with right sidebar">Page with right sidebar</a></li>
											<li><a href="page_both_sidebars.html" title="Page with both sidebars">Page with both sidebars</a></li>
											<li><a href="page_no_sidebars.html" title="Page with no sidebars">Page with no sidebars</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>LISTING LAYOUTS</p>
										<ul>
											<li><a href="hotels_2col.html" title="Listing 2 columns">Listing 2 columns</a></li>
											<li><a href="hotels_3col.html" title="Listing 3 columns">Listing 3 columns</a></li>
											<li><a href="hotels.html" title="Listing 4 columns">Listing 4 columns</a></li>
											<li><a href="hotel.html" title="Single listing">Single listing</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>USER PAGES</p>
										<ul>
											<li><a href="login.html" title="Login">Login</a></li>
											<li><a href="register.html" title="Register">Register</a></li>
											<li><a href="my_account.html" title="My Account">My account</a></li>
											<li><a href="error.html" title="Error 404">Error 404</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>SPECIALTY PAGES</p>
										<ul>
											<li><a href="search_results.html" title="Search results hotels">Search results hotels</a></li>
											<li><a href="search_results_flights.html" title="Search results flights">Search results flights</a></li>
											<li><a href="get_inspired.html" title="Get inspired">Get inspired</a></li>
											<li><a href="get_inspired_results.html" title="Get inspired results">Get inspired results</a></li>
										</ul>
									</div>
									<div class="one-fifth">
										<p>&nbsp;</p>
										<ul>
											<li><a href="booking-step1html" title="Booking step 1">Booking step 1</a></li>
											<li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
											<li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
											<li><a href="loading.html" title="Loading">Loading</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="contact.html" title="Contact">Contact</a></li>
					<li><a href="blog.html" title="Blog">Blog</a>
						<ul>
							<li><a href="blog_single.html" title="Single Post">Single Post</a>
						</ul>
					</li>
					<li><a href="http://themeforest.net/item/book-your-travel-online-booking-html-template/3813953?ref=themeenergy" title="Purchase">Purchase</a></li>
				</ul>
			</div>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	
	<!--slider-->
	<div class="slider">
		<ul id="hero-gallery" class="cS-hidden">
			<li data-thumb="images/uploads/slider.jpg"> 
				<img src="images/uploads/slider.jpg" alt="" />
			</li>
			<li data-thumb="images/uploads/slider.jpg"> 
				<img src="images/uploads/slider.jpg" alt="" />
			</li>
			<li data-thumb="images/uploads/slider.jpg"> 
				<img src="images/uploads/slider.jpg" alt="" />
			</li>	
		</ul>
	</div>
	<!--//slider-->
	
	<!--search-->
	<div class="main-search">
		<div class="wrap">
			<form id="main-search" method="post" action="search_results.html">
				<div class="row">
					<!--column-->
					<div class="column radios one-fourth">
						<h5><span>01</span> What?</h5>
						<div class="row">
							<div class="f-item one-half">
								<input type="radio" name="radio" id="hotel" value="form1" />
								<label for="hotel">Hotel</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="self_catering" value="form2" />
								<label for="self_catering">Self Catering</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="flight" value="form3" />
								<label for="flight">Flight</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="cruise" value="form4" />
								<label for="cruise">Cruise</label>
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="flight_and_hotel" value="form5" />
								<label for="flight_and_hotel">Flight &amp; Hotel</label>	
							</div>
							<div class="f-item one-half">
								<input type="radio" name="radio" id="rent_a_car" value="form6" />
								<label for="rent_a_car">Rent a Car</label>
							</div>
						</div>
					</div>
					<!--//column-->
					
					<div class="three-fourth">
						<!--form hotel-->
						<div class="form row" id="form1">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination1">Your destination</label>
										<input type="text" placeholder="City, region, district or specific hotel" id="destination1" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column  one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item one-half datepicker">
										<label for="datepicker1">Check-in date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker1" name="datepicker1" /></div>
									</div>
									<div class="f-item one-half datepicker">
										<label for="datepicker2">Check-out date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker2" name="datepicker2" /></div>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-third spinner">
										<label for="spinner1">Rooms</label>
										<input type="text" placeholder="" id="spinner1" name="spinner1" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner2">Adults</label>
										<input type="text" placeholder="" id="spinner2" name="spinner1" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner3">Children</label>
										<input type="text" placeholder="" id="spinner3" name="spinner1" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form hotel-->

						<!--form self catering-->
						<div class="form row" id="form2">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination2">Your destination</label>
										<input type="text" placeholder="City, region, district or specific hotel" id="destination2" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item one-half datepicker">
										<label for="datepicker1">Check-in date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker4" name="datepicker4" /></div>
									</div>
									<div class="f-item one-half datepicker">
										<label for="datepicker2">Check-out date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker5" name="datepicker5" /></div>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column  one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half espinner">
										<label for="spinner1">Guests</label>
										<input type="text" placeholder="" id="spinner4" name="spinner4" />
									</div>
									<div class="f-item one-half spinner">
										<label for="spinner2">Bedrooms</label>
										<input type="text" placeholder="" id="spinner5" name="spinner5" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form self catering-->
						
						<!--form flight-->
						<div class="form row" id="form3">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination3">Leaving from</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination3" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination4">Going to</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination4" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker6">Departing on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker6" name="datepicker6" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker7">Arriving on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker7" name="datepicker7" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-third spinner">
										<label for="spinner6">Adults</label>
										<input type="text" placeholder="" id="spinner6" name="spinner6" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner7">Children</label>
										<input type="text" placeholder="" id="spinner7" name="spinner7" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner8">Infants</label>
										<input type="text" placeholder="" id="spinner8" name="spinner8" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form flight-->
						
						<!--form cruise-->
						<div class="form row" id="form4">
							<!--column-->
							<div class="column  one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label>Your destination</label>
										<select>
											<option>I Don't Mind</option>
											<option>Africa</option>
											<option>Alaska</option>
											<option>Alaska - Gulf Northbound</option>
											<option>Alaska - Gulf Southbound</option>
											<option>Antarctica</option>
											<option>Arctic</option>
											<option>Australia</option>
											<option>Bahamas</option>
											<option>Bermuda</option>
											<option>Brazil</option>
											<option>Canada/New England</option>
											<option>Canada</option>
											<option>Caribbean</option>
											<option>Caribbean - Eastern</option>
											<option>Caribbean - Southern</option>
											<option>Caribbean - Western</option>
											<option>Coastal</option>
											<option>Costa Rica</option>
											<option>Cruise To Nowhere</option>
											<option>Europe</option>
											<option>Northern Europe</option>
											<option>Europe - Western</option>
											<option>Europe (Greenland)</option>
											<option>Europe (Norway)</option>
											<option>Far East</option>
											<option>Greece</option>
											<option>Hawaii</option>
											<option>India</option>
											<option>Mediterranean</option>
											<option>Mediterranean - Eastern</option>
											<option>Mexico</option>
											<option>Middle East</option>
											<option>New England</option>
											<option>New Zealand</option>
											<option>Pacific Coastal</option>
											<option>Pacific Northwest</option>
											<option>Panama Canal</option>
											<option>Russia</option>
											<option>South America</option>
											<option>South Pacific</option>
											<option>Southeast Asia</option>
											<option>Tahiti</option>
											<option>Transatlantic</option>
											<option>Transcanal</option>
											<option>Transpacific</option>
											<option>World Cruise</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item one-half datepicker">
										<label for="datepicker8">Departure date</label>
										<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker8" name="datepicker8" /></div>
									</div>
									<div class="f-item one-half">
										<label>Cruise length</label>
										<select>
											<option>I Don't Mind</option>
											<option>1-2 Nights</option>
											<option>3-6 Nights</option>
											<option>7-9 Nights</option>
											<option>10-14 Nights</option>
											<option>Over 14 Nights</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half">
										<label>Cruise Line</label>
										<select>
											<option>I Don't Mind</option>
											<option>Azamara Club Cruises</option>
											<option>Carnival Cruise Lines</option>
											<option>Celebrity Cruises</option>
											<option>Costa Cruise Lines</option>
											<option>Cruise &amp; Maritime Voyages</option>
											<option>Crystal Cruises</option>
											<option>Cunard Line Ltd.</option>
											<option>Disney Cruise Line</option>
											<option>Holland America Line</option>
											<option>Hurtigruten Cruise Line</option>
											<option>MSC Cruises</option>
											<option>Norwegian Cruise Line</option>
											<option>Oceania Cruises</option>
											<option>Orion Expedition Cruises</option>
											<option>P&amp;O Cruises</option>
											<option>Paul Gauguin Cruises</option>
											<option>Peter Deilmann Cruises</option>
											<option>Princess Cruises</option>
											<option>Regent Seven Seas Cruises</option>
											<option>Royal Caribbean International</option>
											<option>Seabourn Cruise Line</option>
											<option>Silversea Cruises</option>
											<option>Star Clippers</option>
											<option>Swan Hellenic Cruises</option>
											<option>Thomson Cruises</option>
											<option>Viking River Cruises</option>
											<option>Windstar Cruises</option>
										</select>
									</div>
									
									<div class="f-item one-half spinner">
										<label for="spinner9">Cabins</label>
										<input type="text" placeholder="" id="spinner9" name="spinner9" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form cruise-->
						
						<!--form flight+hotel-->
						<div class="form row" id="form5">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination5">Leaving from</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination5" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination6">Going to</label>
										<input type="text" placeholder="City, region, district or specific airport" id="destination6" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker9">Departing on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker9" name="datepicker9" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker10">Arriving on</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker10" name="datepicker10" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>Select time</option>
													<option>Lowest fare</option>
													<option>Morning</option>
													<option>Midday</option>
													<option>Afternoon</option>
													<option>Evening</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-third spinner">
										<label for="spinner10">Adults</label>
										<input type="text" placeholder="" id="spinner10" name="spinner10" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner11">Children</label>
										<input type="text" placeholder="" id="spinner11" name="spinner11" />
									</div>
									<div class="f-item one-third spinner">
										<label for="spinner12">Rooms</label>
										<input type="text" placeholder="" id="spinner12" name="spinner12" />
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form flight+hotel-->
						
						<!--form rent a car-->
						<div class="form row" id="form6">
							<!--column-->
							<div class="column one-third">
								<h5><span>02</span> Where?</h5>
								<div class="row">
									<div class="f-item full-width">
										<label for="destination7">Pick Up</label>
										<input type="text" placeholder="I want to pick up car in" id="destination7" name="destination" />
									</div>
									<div class="f-item full-width">
										<label for="destination8">Drop Off</label>
										<input type="text" placeholder="I want to pick drop off car in" id="destination8" name="destination" />
									</div>
								</div>
							</div>
							<!--//column-->
							
							<!--column-->
							<div class="column one-third">
								<h5><span>03</span> When?</h5>
								<div class="row">
									<div class="f-item full-width datepicker">
										<label for="datepicker11">Pick up time</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker11" name="datepicker11" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>00:00</option>
													<option>01:00</option>
													<option>02:00</option>
													<option>03:00</option>
													<option>04:00</option>
													<option>05:00</option>
													<option>06:00</option>
													<option>07:00</option>
													<option>08:00</option>
													<option>09:00</option>
													<option selected>10:00</option>
													<option>11:00</option>
													<option>12:00</option>
													<option>13:00</option>
													<option>14:00</option>
													<option>15:00</option>
													<option>16:00</option>
													<option>17:00</option>
													<option>18:00</option>
													<option>19:00</option>
													<option>20:00</option>
													<option>21:00</option>
													<option>22:00</option>
													<option>23:00</option>
												</select>
											</div>
										</div>
									</div>
									<div class="f-item full-width datepicker">
										<label for="datepicker12">Drop of time</label>
										<div class="row">
											<div class="f-item one-half">
												<div class="datepicker-wrap"><input type="text" placeholder="" id="datepicker12" name="datepicker12" /></div>
											</div>
											<div class="f-item one-half">
												<select>
													<option>00:00</option>
													<option>01:00</option>
													<option>02:00</option>
													<option>03:00</option>
													<option>04:00</option>
													<option>05:00</option>
													<option>06:00</option>
													<option>07:00</option>
													<option>08:00</option>
													<option>09:00</option>
													<option selected>10:00</option>
													<option>11:00</option>
													<option>12:00</option>
													<option>13:00</option>
													<option>14:00</option>
													<option>15:00</option>
													<option>16:00</option>
													<option>17:00</option>
													<option>18:00</option>
													<option>19:00</option>
													<option>20:00</option>
													<option>21:00</option>
													<option>22:00</option>
													<option>23:00</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--//column-->
						
							<!--column-->
							<div class="column one-third">
								<h5><span>04</span> Who?</h5>
								<div class="row">
									<div class="f-item one-half spinner small">
										<label for="spinner13">Driver Age</label>
										<input type="text" placeholder="" id="spinner13" name="spinner13" />
									</div>
									<div class="f-item one-half">
										<label for="spinner2">Car type:</label>
										<select>
											<option>No Preference</option>
											<option>Economy</option>
											<option>Compact</option>
											<option>Midsize</option>
											<option>Standard</option>
											<option>Full Size</option>
											<option>Premium</option>
											<option>Luxury</option>
											<option>Convertible</option>
											<option>MiniSUV</option>
											<option>Sports Car</option>
										</select>
									</div>
								</div>
							</div>
							<!--//column-->
						</div>	
						<!--//form rent a car-->
					</div>
					<input type="submit" value="Proceed to results" class="gradient-button search-submit" id="search-submit" />
				</div>
			</form>
		</div>
	</div>
	<!--//search-->
	
	<!--main-->
	<main class="main">
		<div class="wrap">
			<div class="row">
				<div class="full-width">
				
					<!--latest offers-->
					<header class="s-title">
						<h2>Explore our latest offers</h2>
					</header>
					
					<div class="offers">
						<div class="row">
							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Winter beach escapes 30% off</h3>
									<a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Spend New Year‘s Eve in Paris</h3>
									<a href="#" title="More info" class="gradient-button">More info</a>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Skiing weekends in the Alpes</h3>
									<a href="#" title="Explore our deals" class="gradient-button">Explore our deals</a>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="#" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<h3>Our weekly top offer: Thailand</h3>
									<a href="#" title="More info" class="gradient-button">More info</a>
								</div>
							</article>
							<!--//column-->
						</div>
					</div>
					<!--//latest offers-->
					
					<header class="s-title">
						<h2>Top destinations around the world</h2>
					</header>
					
					<!--top destinations-->
					<div class="destinations">
						<div class="row">
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth promo">
								<div class="ribbon-small">- 20%</div>
								<figure><a href="hot_deals.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="hot_deals.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>St Petersburg</h4>
									<span class="count">658 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Prague</h4>
									<span class="count">829 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Paris</h4>
									<span class="count">1529 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
							
							<!--column-->
							<article class="one-fourth">
								<figure><a href="location.html" title=""><img src="images/uploads/img.jpg" alt="" /></a></figure>
								<div class="details">
									<a href="location.html" title="View all" class="gradient-button">View all</a>
									<h4>Amsterdam</h4>
									<span class="count">929 Hotels</span>
									<div class="ribbon">
										<div class="half hotel">
											<a href="hotels.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 70</span>
											</a>
										</div>
										<div class="half flight">
											<a href="flights.html" title="View all">
												<span class="small">from</span>
												<span class="price">&#36; 150</span>
											</a>
										</div>
									</div>
								</div>
							</article>
							<!--//column-->
						</div>
					</div>
					<!--//top destinations-->
			
			
					<!--info boxes-->
					<div class="boxes">
						<div class="row">
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Handpicked Hotels</h4>
								<p>All Book Your Travel Hotels fulfil strict selection criteria. Each hotel is chosen individually and inclusion cannot be bought. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Detailed Descriptions</h4>
								<p>To give you an accurate impression of the hotel, we endeavor to publish transparent, balanced and precise hotel descriptions. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Exclusive Knowledge</h4>
								<p>We’ve done our research. Our scouts are always busy finding out more about our hotels, the surroundings and activities on offer nearby.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Passionate Service</h4>
								<p>Book Your Travels’s team will cater to your special requests. We offer expert and passionate advice for finding the right hotel. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Best Price Guarantee</h4>
								<p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Secure Booking</h4>
								<p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.We work to high standards and guarantee your privacy. </p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Benefits for Hoteliers</h4>
								<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<div>
								<h4>Any Questions?</h4>
								<p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.</p>
							</div>
						</article>
						<!--//column-->
					</div>
				</div>
					<!--//info boxes-->
				</div>
			</div>
		</div>
	</main>
	<!--//main-->
	
	<!--footer-->
	<footer class="footer">
		<div class="wrap">
			<div class="row">
				<!--column-->
				<article class="one-fourth">
					<h6>Book Your Travel</h6>
					<p>1400 PennsylSUVia Ave. Washington, DC</p>
					<p><em>P:</em> 24/7 customer support: 1-555-555-5555</p>
					<p><em>E:</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Customer support</h6>
					<ul>
						<li><a href="#" title="Faq">Faq</a></li>
						<li><a href="#" title="How do I make a reservation?">How do I make a reservation?</a></li>
						<li><a href="#" title="Payment options">Payment options</a></li>
						<li><a href="#" title="Booking tips">Booking tips</a></li>
					</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Follow us</h6>
					<ul class="social">
							<li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a href="#" title="youtube"><i class="fa  fa-fw fa-youtube"></i></a></li>
							<li><a href="#" title="rss"><i class="fa  fa-fw fa-rss"></i></a></li>
							<li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
							<li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
							<li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
						</ul>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h6>Don’t miss our exclusive offers</h6>
					<form id="newsletter" action="newsletter.php" method="post">
						<fieldset>
							<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
							<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
						</fieldset>
					</form>
				</article>
				<!--//column-->
				
				<div class="bottom full-width">
					<p class="copy">Copyright 2016 Book your travel ltd. All rights reserved</p>
					<nav>
						<ul>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="contact.html" title="Contact">Contact</a></li>
							<li><a href="#" title="Partners">Partners</a></li>
							<li><a href="#" title="Customer service">Customer service</a></li>
							<li><a href="#" title="FAQ">FAQ</a></li>
							<li><a href="#" title="Careers">Careers</a></li>
							<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Privacy statement">Privacy statement</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<!---footer-->
	
	<script type="text/javascript">	
		(function( $ ) {
			$(document).ready(function(){
				$('.form').hide();
				$('#form1').show();
				$('.f-item:nth-child(1)').addClass('active');
				$('.f-item:nth-child(1) span').addClass('checked');		

				$('#hero-gallery').lightSlider({
					gallery:true,
					item:1,
					pager:false,
					gallery:false,
					slideMargin: 0,
					speed:2000,
					pause:6000,
					mode: 'fade',
					auto:true,
					loop:true,
					onSliderLoad: function() {
						$('#hero-gallery').removeClass('cS-hidden');
					}  
				});			
			});
		})(jQuery);
	</script>
</body>
</html>