#flash   {
   position:absolute;top:100px;margin:0 auto;right:0;left:0;
}

div.flash-message-success {
  color: #fff;
    border: 1px solid #677C13 !important;
	background: #829E18 !important;
	background: -moz-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ADC800), color-stop(100%,#829E18)) !important;
	background: -webkit-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
	background: -o-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
	background: -ms-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
	background: linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADC800', endColorstr='#829E18',GradientType=0 ) !important;
	-moz-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
	-webkit-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
	box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
    clear: both;
   
    font-weight: bold;
    min-width: 30%;
	width:80%;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 5px;
    z-index: 9999 !important;
	text-align:center;
  
}

	div.flash-message-error {
  color: #fff;
    border: 1px solid #AF2D1C !important;
	background: #CB2C1A !important;
	background: -moz-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D96D3A), color-stop(100%,#CB2C1A)) !important;
	background: -webkit-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
	background: -o-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
	background: -ms-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
	background: linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D96D3A', endColorstr='#CB2C1A',GradientType=0 ) !important;
	-moz-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
	-webkit-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
	box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
    clear: both;
    text-align:center;
    font-weight: bold;
    display: inline-block;
    min-width:30%;
	max-width:80%;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 5px;
    
    z-index: 999999999999 !important;
    
}


.error-message {
background-color:#a90329;
color:#fff;
}


.shortest a {
	color:#FFF;
}
a:hover.shortest {
    text-decoration:underline !important;
}
a:active.shortest {
    text-decoration:underline !important;
}
a:visited.shortest {
    text-decoration:none;
}
a:link.shortest {
    text-decoration:none;
}
.shortest {
	text-align:center;
	font-size:15px;
}
a:hover.logo {
	color:#eee !important;
	text-decoration:none;
}
a:active.logo {
	text-decoration:none;
	
}
a:visited.logo {
	text-decoration:none;
	
}
a:link.logo {
	text-decoration:none;
	
}

a#account_link {
	color:#fff;
}
ul.horizontal {
	list-style-type:none;
	display:inline !important;
}
li.horizontal {
	list-style-type:none;
	display:inline !important;
}
.media-body {
	padding-top:10px;
}
.logo {
	font-size:38px;
	color:#eee;
	font-family:Lucida Calligraphy;
	padding:3px 5px 3px 0;
}
li.active {
	background:#00CAAA;
}
.padded {
	padding-bottom:20px;
}
.padded_top {
	padding-top:20px;
} 
#no-top-bottom-padding {
	padding-top:0 !important;
	padding-bottom:0 !important;
	
}
.padded_up {
	margin-top:20px;
} 
.no_display {
	display:none;
}
#add_record_table {
	display:none;
}
#document_table {
	display:none;
}
#other {
	display:none;
}
#history_table {
	display:none;
}

.lter {
	background:#fff;
	background-size:100% 100%;
}
.index-body h1{
	
	text-align:center;
	background: url(../img/syringe.jpg) top center fixed;
	z-index:99999;
}
#hos_name {
	font-family:Comic Sans MS;
	font-size:50px;
	text-shadow: 3px 3px #f00;
	color:#FFF;
}
.collapse.in {
	left:0 !important;
}

.hasDatepicker {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}